<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');</style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <meta charset="UTF-8">
    <title>Matteus and Dawgs Homepage</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="navbar" id="homepage_nav">
            <a href="{% url 'home' %}"><img src="{% static 'images/mad_logo_black.png' %}" id="logo_light" class="logo" alt="Brand logo: Matteus and Dawgs, in light mode"></a>
            <a href="{% url 'home' %}"><img src="{% static 'images/mad_logo.png' %}" id="logo_dark" class="logo" alt="Brand logo: Matteus and Dawgs, in dark mode"></a>

            <nav>
                <ul>
                    <li><a class="homepage_lia">Project #1</a></li>
                    <li><a class="homepage_lia">Project #2</a></li>
                    <li><a class="homepage_lia">Project #3</a></li>
                    <li><a class="homepage_lia" href="{% url 'default_cat' %}">Animals DB</a></li>
                </ul>
            </nav>
        </div>

        <div class="column_1" style="display: flex; flex-direction: column; position: absolute; top: 70%; left: 45%; transform: translate(-50%, -50%);">
            <h1 class="span_1" style="font-size: 35px">Homepage in development</h1>
            <h2 class="span_2" style="font-size: 25px">check back later</h2>
        </div>

        <div class="column_2" style="position: absolute; top: 45%; left: 45%; transform: translate(-50%, -50%);">
            <svg version="1.1" id="L2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                <circle fill="none" stroke="#ff914d" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="48"/>
                <line class="dark_mode_hands" fill="none" stroke-linecap="round" stroke=black stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="85" y2="50.5">
                    <animateTransform
                        attributeName="transform"
                        dur="2s"
                        type="rotate"
                        from="0 50 50"
                        to="360 50 50"
                        repeatCount="indefinite"
                    />
                </line>
                <line class="dark_mode_hands" fill="none" stroke-linecap="round" stroke=black stroke-width="4" stroke-miterlimit="10" x1="50" y1="50" x2="49.5" y2="74">
                    <animateTransform
                        attributeName="transform"
                        dur="15s"
                        type="rotate"
                        from="0 50 50"
                        to="360 50 50"
                        repeatCount="indefinite"
                    />
                </line>
            </svg>
        </div>
    </div>
</body>
</html>